{% extends 'admin-base.html' %} {% load static %} {% block adminblock %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <style>
        #map { height: 400px; }
        #marker-coordinates { width: 100%; height: 100px; }
    </style>

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Add Job</a>
                </li>
            </ol>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <form class="row" action="{% url 'addjob' %}" method="post">
                    {% csrf_token %}
                    <div class="col-xl-8">
                        <div class="card h-auto">
                            <div class="card-body row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Job title</label>
                                    <input type="text" class="form-control" name="title" placeholder="Job title" />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Category</label>
                                    <select class="disabling-options" style="width:100%;" name="category">
                                        {% for cat in cat %}
                                        <option value="{{cat.title}}">{{cat.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card h-auto">
                            <div class="card-body">
                                <label class="form-label">Description</label>
                                <textarea id="ckeditor" name="description" ></textarea>
                             
                                <label class="form-label mt-5"  >Requiements</label>
                                <textarea class="form-control" id="ckeditor1" rows="5"
                                    placeholder="" required="" id="ckeditor" spellcheck="false"  name="requiements" ></textarea>
                                <label class="form-label mt-5">Responsability</label>
                                <textarea class="form-control" id="ckeditor2" rows="5"
                                    placeholder="" required="" spellcheck="false" name="responsability"></textarea>
                            </div>
                        </div>
                        <div class="card h-auto">
                            <div class="card-body row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Experience years</label>
                                    <input type="text" class="form-control" placeholder="5 years" name="experience" />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Salary</label>
                                    <select id="dynamic-option-creation" style="width:100%;" name="salary">
                                        <option value="A en discuter" selected >A en discuter</option>
                          
                                    </select>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Type of contrat</label>
                                    <select class="default-select  form-control wide" name="type">
                                        <option selected value="Full time">Full time</option>
                                        <option value="Partial time">Partial time</option>
                                        <option value="Other">Other</option>
                                    
                                    </select>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Conpetence</label>
                                    <select id="multi-value-select-2" style="width:100%;" multiple="multiple" name="conpetence" >
                                    </select>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Tags</label>
                                    <select id="multi-value-select" style="width:100%;" multiple="multiple" name="tags" >
                                    </select>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Diplomes</label>
                                    <select id="dynamic-option-creation-2" style="width:100%;" name="diplomes">
                                        <option value="BEPC" selected>BEPC</option>
                                        <option value="BAC">BAC</option>
                                        <option value="License 1">License 1</option>
                                        <option value="License 2">License 2</option>
                                        <option value="License 3">License 3</option>
                                        <option value="Master1">Master1</option>
                                        <option value="Master1">Master2</option>
                                        <option value="Master2">Master3</option>
                                        <option value="Doctorat">Doctorat</option>
                          
                                    </select>
                                </div>
                  
                                <div class="mb-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Genre</label>
                                        <select class="default-select  form-control wide"name="genre" >
                                            <option selected value="F/H">F/H</option>
                                            <option value="H">H</option>
                                            <option value="F">F</option>
                                        
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Locality</label>
                                    <input type="text" class="form-control" placeholder="Title" name="locality" />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Expiration date</label>
                                    <input type="text" id="date-format" class="form-control" placeholder="Saturday 24 June 2017 - 21:44" name="expiration">
                                </div>
                              
                                <div class="col-12 mt-5">
                                  <div class="row my-4" style="justify-content: center;">
                                    <div class="col-md-6 m-0">
                                        <input type="text" id="search-input" placeholder="Search location" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn btn-primary p-x0" onclick="searchLocation()">Search</div>
                                    </div>
                                  </div>
                                    <div id="map"></div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Tags</label>
                                        <select id="marker-coordinates" style="width:100%;" multiple="multiple" name="locality" >
                                        </select>
                                    </div>
    
                                    <!-- <textarea id="marker-coordinates" readonly></textarea> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="right-sidebar-sticky">
                            <div class="filter cm-content-box box-primary">
                                <div class="content-title SlideToolHeader">
                                    <div class="cpa">Featured Image</div>
                                    <div class="tools">
                                        <a href="javascript:void(0);" class="expand handle"><i
                                                class="fal fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="cm-content-body publish-content form excerpt">
                                    <div class="card-body">
                                        <div class="avatar-upload d-flex align-items-cente justify-content-center">
                                            <div class="position-relative">
                                                <div class="avatar-preview">
                                                    <div id="imagePreview" style="
                              background-image: url({% static "images/no-img-avatar.png" %}); 
                            "></div>
                                                </div >
                                                <div class="change-btn d-flex align-items-center flex-wrap">
                                                    <input type="file" class="form-control d-none" id="imageUpload"
                                                        accept=".png, .jpg, .jpeg"  value="{% static "images/no-img-avatar.png" %}" name="image" />
                                                    <label for="imageUpload"
                                                        class="btn btn-sm btn-primary light ms-0">Select Image</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="filter cm-content-box box-primary">
                                <div class="content-title SlideToolHeader">
                                    <div class="cpa">Contact informations</div>
                                    <div class="tools">
                                        <a href="javascript:void(0);" class="expand handle"><i
                                                class="fal fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="cm-content-body publish-content form excerpt">
                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fas fa-envelope"></div>
                                            <input type="text" class="form-control" name="email" placeholder="exemple@exemple.com">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fab fa-whatsapp"></div>
                                            <input type="text" class="form-control" name="whatsapp" placeholder="00228 00 00 00 00">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fas fa-phone "></div>
                                            <input type="text" class="form-control"  name="phone"  placeholder="00228 00 00 00 00">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="filter cm-content-box box-primary">
                                <div class="content-title SlideToolHeader">
                                    <div class="cpa">Social media</div>
                                    <div class="tools">
                                        <a href="javascript:void(0);" class="expand handle"><i
                                                class="fal fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="cm-content-body publish-content form excerpt">
                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fab fa-linkedin"></div>
                                            <input type="text" class="form-control" placeholder="https//:..." name="linkedin">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fab fa-twitter"></div>
                                            <input type="text" class="form-control" placeholder="https//:..." name="twitter">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fab fa-instagram "></div>
                                            <input type="text" class="form-control" placeholder="https//:..." name="instagram">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fab fa-facebook-f "></div>
                                            <input type="text" class="form-control" placeholder="https//:..."  name="facebook">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text fab fa-youtube "></div>
                                            <input type="text" class="form-control" placeholder="https//:..." name="youtube">
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <button type="submit" class="btn btn-primary mt-5" style="width: 80%;" onclick="submit()" >Publish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="https://unpkg.com/es6-promise-polyfill/promise.min.js"></script>
<script src="https://unpkg.com/whatwg-fetch/fetch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
<script>
    var map = L.map('map').setView([48.8566, 2.3522], 13); // Coordonnées par défaut : Paris
    var markers = [];
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    map.on('click', function(e) {
        var marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map)
            .bindPopup('Emplacement choisi: ' + e.latlng.toString())
            .openPopup();
        markers.push(marker);
        updateMarkerCoordinates();

        marker.on('click', function() {
            removeMarker(marker);
        });
    });

    window.onload = function() {
        navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            map.setView([lat, lng], 13);
            var marker = L.marker([lat, lng]).addTo(map)
                .bindPopup('Votre position actuelle')
                .openPopup();
            markers.push(marker);
            updateMarkerCoordinates();

            marker.on('click', function() {
                removeMarker(marker);
            });
        });
    };

    function updateMarkerCoordinates() {
        var $select = $('#marker-coordinates');
        $select.empty(); // Clear the existing options
        markers.forEach(marker => {
            var latlng = marker.getLatLng();
            var value = `${latlng.lat},${latlng.lng}`;
            var text = `${latlng.lat}, ${latlng.lng}`;
            var option = new Option(text, value, true, true); // Mark all options as selected
            $select.append(option);
        });
        $select.trigger('change'); // Trigger the change event for Select2
    }

    function searchLocation() {
        var searchInput = document.getElementById('search-input').value;
        if (!searchInput) return;

        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${searchInput}`)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    var lat = data[0].lat;
                    var lng = data[0].lon;
                    map.setView([lat, lng], 13);
                } else {
                    alert('Location not found');
                }
            });
    }

    function removeMarker(marker) {
        map.removeLayer(marker);
        markers = markers.filter(m => m !== marker);
        updateMarkerCoordinates();
    }

    $(document).ready(function() {
        $('#marker-coordinates').select2();
    });
</script>
{% endblock adminblock %}